@charset "UTF-8";

body {
    background-color: black;
    color: white;
    padding: 0% !important;
}

#Container-a {
    background-color: black;
    width: 40%;
    margin-top: 10px;
    padding-left: 12%;
    display: inline-block;
    text-align: justify;

}

@media screen and (min-width: 769px ) {
    #imagem-mobile {
        display: none !important;
    }
    #imagem {
        width: 100%; 
        max-width: 700px; 
        padding-top: -10px;
    }
  }

#Container-b {
    background-color: black;
    width: 40%;
    text-align: center !important;
    margin-top: 5px;
    display: inline-block;
    text-align: center;
}

#imagem-logo {
    width: 200px;
    margin-left: 30px;
    margin-top: 10px;
    margin-inline: -20px;
    text-align: center !important;
}

#Pirataria {
    margin-top: -25px;
}

#video {
    top: 50%;
    width: 50%;
    height: 50%;
}


#som {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    width: 100%;
    font-size: 120%;
    padding-top: -10%;
}

.text-center {
    text-align: center;
    font-size: 20px;
    padding-bottom: 2%;
}

#Direitos {
    text-align: center !important;
}

.btn-cta {
    line-height: 22px;
    padding: 15px 100px; /* Reduzindo o padding para tornar o botão menor */
    max-width: 25%; /* Removendo a largura máxima para que o botão não exceda a largura da tela */
    margin: 0 auto;
    background-color: #000000;
    border-radius: 50px;
    box-shadow: 0px 0px 17px 7px #FFFFFF;
    text-align: center; /* Centralizando o conteúdo do botão */
}

#imagem {
    width: 60%;
    margin: auto;
}

#texto {
    color: #008000;
    text-decoration: none !important;
    text-transform: uppercase;
    font-size: 130%; /* Alterando para uma unidade de medida relativa */
    font-family: sans-serif;
    text-align: center;
}
#botão a {
    text-decoration: none;
  }

#Este-site {
    padding-top: 10%;
    width: 100%;
    padding-bottom: 3%;
    font-size: 100%;
    text-align: center;
}

#subheadline {
    font-size: 20px;
}


#título1 {
    margin-top: 40px;
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: -1.7px;
}

#superior {
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 18px;
    text-align: center;

}

#adress {
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 18px;
}

#superior2 {
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 18px;
}

#termos2 {
    display: inline-block;
    text-align: right;
    width: 49%;
    text-decoration: none !important;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
}

#políticas2 {
    color: #B4B4B4;
    display: inline-block;
    text-align: left;
    width: 45%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-decoration: none !important;
}

#políticas2 a {
    text-decoration: none !important;
    color: #B4B4B4;
}

#termos2 a {
    color: #B4B4B4;
    text-decoration: none !important;
}

/*    RESPONSIVO    */

@media screen and (max-width: 768px) {
    #Container-a {
        width: 75%;
        text-align: center;
        display: inline-block;
        padding-top: 8%;
        padding-bottom: 3%;
        font-size: 85%;
        align-items: center !important;
    }
    #imagem {
        display: none; 
      }
      
      #imagem-mobile {
        width: 100%; 
        max-width: 100%; 
        padding-top: 10%;
        padding-left: 1%;
      }

    

    #Direitos {
        text-align: center !important;
        align-items: center !important;
    }

    #video {
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;

    }

    #imagem-logo {
        width: 200px;
        margin-top: 10px;
        margin-inline: -20px;
        text-align: center !important;
        align-items: center !important;
    }

    #texto {
        color: #008000;
        text-decoration: none !important;
        text-transform: uppercase;
        font-size: 105%;
        font-family: sans-serif;
    }

    .btn-cta {
        line-height: 22px;
        padding: 15px 30px; /* Reduzindo o padding para tornar o botão menor */
        max-width: 70%; /* Removendo a largura máxima para que o botão não exceda a largura da tela */
        margin: 0 auto;
        background-color: #000000;
        border-radius: 50px;
        box-shadow: 0px 0px 17px 7px #FFFFFF;
        display: block;
        text-align: center; /* Centralizando o conteúdo do botão */
    }

    #Container-b {
        width: 100%;
        text-align: center;
        display: inline-block;
        padding-top: 8%;
        padding-bottom: 3%;
        font-size: 85%;
    }

    #Este-site {
        width: 100%;
        text-align: center;
        display: inline-block;
        padding-bottom: 3%;
        font-size: 100%;
        max-width: 450px;
        padding-top: 65%;
    }

    #subheadline {
        font-size: 18px;
    }

    #imagem {
        width: 100%;
        align-items: center;
    }


    #políticas2 {
        display: inline-block;
        text-align: left;
        width: 40%;
        padding-left: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-decoration: none !important;
    }

    #termos2 {
        display: inline-block;
        text-align: right;
        width: 49%;
        text-decoration: none !important;
        padding-top: 5%;
        padding-bottom: 5%;
        color: white;
    }
    
    #políticas2 {
        color: #B4B4B4;
        display: inline-block;
        text-align: left;
        width: 30%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-decoration: none !important;
    }


    #título1 {
        font-size: 28px;
        line-height: 36px;
}

    
#superior {
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}

#adress {
    font-size: 17px;
    line-height: 20px;
}

#superior2 {
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 17px;
    line-height: 20px;
}

.text-center {
    text-align: center;
    font-size: 17px;
}

}